div {
   color: rgb(249, 249, 249);
     z-index: 6;
}
body {
     background: linear-gradient(to bottom, black, rgb(6, 7, 48));
    color: white;
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    display: flex;
   justify-content: center;
}
h1 {
    text-align: center;
    font-size: 100px;
}
.step-card1::before {
    content: attr(data-step); /* Берет номер из атрибута в HTML */
    position: fixed;
    display: flex;
    justify-content: center;
    font-size:800px;
    font-weight: bold;
    color: rgba(100, 87, 204, 0.597);
    
    z-index: -1;
   margin-left: -29.2%;
   margin-top: -8%;
   
}

a {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
   
}
.step-card1::after {
    position:absolute;
     content: "⭐";  
     margin-top: 16%;
     margin-left: -9.5%;
     transition: 0.5s;
     z-index: 5;
     border-radius: 10px solid white;
}
.step-card1:hover::after {
    transform: scale(2) rotate(360deg);
}

